html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

body {
	background-color: lightgray;
}
.logo {
	display: block;
	float: left;
	width: 150px;
	height: 150px;
	border: none;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
header {
	display: block;
	float: left;
	font-size: 60px;
	font-weight: bold;
}
.subheader {
	display: block;
	float: left;
	font-size: 36px;
	font-style: italic;
	margin: 4px 0;
}
h1 {
	font-size: 48px;
	display: block;
	float: right;
	margin: 10px 0;
}
.error-message {
	display: block;
	float: right;
	font-size: 40px;
	font-style: italic;
	margin: 0 0 10px 0;
	color: green;
	height: 30px;
}
button, p, img {
	display: inline-block;
}
p {
	margin: 8px auto;
	width: 244px;
	text-align: center;
}
.main-content {
	overflow: scroll;
  width: 1000px;
	margin: 10px auto;
}
img {
  width: 180px;
  height: 180px;
  margin: 0 32px;
	border: 1px solid black;
	background-color: white;
}
.purchased p {
	margin: 8px auto;
}
button {
	margin: 8px 73px;
	font-size: 24px;
	width: 100px;
	text-align: center;

}
button:hover {
	background-color: darkgray;
	color: white;
	border: 1px solid black;
	margin: 6px 73px;
}
.inventory {
	border: 1px solid black;
	padding: 2px;
	margin: 10px 0 0 0;
	background-color: white;
}
h2 {
	display: block;
	text-align: center;
	font-size: 24px;
}
footer {
	display: block;
	float: left;
	font-size: 12px;
	margin: 10px 0;
}
span {
	font-style: italic;

}
